.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tahoma";
  width: 90vw;
  margin: 0 auto;
}

.js_btn_load {
  margin: 10px auto;
  background-color: blue;
  color: yellow;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-weight: 800;
}

.js_input {
    margin: 10px auto;
}

.js_result {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  text-align: left;
}

.pic {
  height: auto;
  margin: 0 10px;
}